.verticalLayout {
    .v-app-bar {
        .v-toolbar__content {
            padding: 0 20px;
            // max-width: 1300px;
            margin: 0 auto;
            background-color: rgba(var(--v-theme-containerBg));
            border-radius: 18px;
            box-shadow: 0 2px 6px rgba(37, 83, 185, .1) !important;

            >.v-btn:first-child {
                margin-inline-start: 0;
            }
        }

        &.v-toolbar {
            // 新调整的样式，可以随着drawer的宽度变化而变化
            left: calc(var(--drawer-width) + 40px) !important;
            width: calc(100% - var(--drawer-width) - 56px) !important;
            transition: left 0.3s, width 0.3s, top 0.3s;
            // top: 20px !important;
            background-color: rgba(var(--v-theme-background));
            z-index: 2;
            // max-width: 1300px;
            margin: 0 auto;
            right: 16px !important;
            border-radius: 15px;
            box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1) !important;
            &:not(.sticky-top) {
                top: 20px !important;
            }
        }

        &.sticky {
            top: 0 !important
        }
    }

    // &.mini-sidebar {
    //     .v-app-bar {
    //         &.v-toolbar {
    //             left: 85px !important;
    //         }
    //     }
    // }

    @media screen and (max-width: 1279px) {
        .verticalLayout {
          .v-app-bar.v-toolbar {
            left: 0 !important;
            width: calc(100% - 40px) !important;
          }
        }
    }
}




@media screen and (max-width:1600px) and (min-width:1280px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            max-width: calc((100% - 270px) - 60px) !important;
        }
    }

}

@media screen and (max-width:1279px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            max-width: calc(100% - 40px - 0px) !important;
            left: 0 !important;
        }
    }

    .v-main {
        padding-left: calc(var(--v-layout-left) + 0px) !important;
    }

}

@media screen and (max-width: 767px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            max-width: calc(100% - 30px - 0px) !important;
        }
    }

}
